/* Styles for html, body */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

/* Styles for the main application container */
.app-container {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
  gap: 2rem;
}

/* Styles for the header */
.header h1 {
  text-align: center;
  color: #1f446b;
  margin: 0;
}

/* Styles for TaskTracker component */
.task-tracker {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Styles for TaskCreationForm component */
.task-creation-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

/* Styles for input field */
input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Styles for button */
button {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #1f446b;
  color: #fff;
  cursor: pointer;
}

/* Styles for TasksList component */
.tasks-list {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Styles for no-tasks message */
.no-tasks {
  margin: 0;
  padding: 0;
  user-select: none;
}

/* Styles for task item */
.task-item {
  flex: 1 1 max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #e6f7ff;
  border: 1px solid #1f446b;
  color: #1f446b;
  border-radius: 5px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  user-select: none;
}

.task-item:hover {
  transform: scale(1.05);
}
