body {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

.gray {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}  
  .container {
    padding: 20px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
 }

 .pictures {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    grid-auto-rows: minmax(100px, auto);
 }

.features {
    display: flex;
    justify-content: space-between;
}

.grayscale {
    display: flex;
    align-items: center;
}
span {
    padding-left: 10px;
}

.fetch {
    width: 100%;
    margin-top: 16px;
    background-color: #6435b0;
    padding: 10px;
    color: white;
    border-radius: 4px;
    border-style: none;
}
.fetch2 {
  background-color: #6435b0;
  padding: 10px;
  color: white;
  border-radius: 4px;
  border-style: none;
}

h2 {
  font-family: system-ui;
  font-weight: 100;
  font-size: 2em;
}

.grayscale_text {
  font-family: system-ui;
  font-size: 0.8em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }